<form
  #transactionFormElement
  class="form"
  [formGroup]="form"
  (ngSubmit)="submit()">
  <h2 class="title">
    {{ isEditMode() ? 'Редактирование транзакции' : 'Добавление транзакции' }}
  </h2>

  <div class="field">
    <div class="label">Вид транзакции</div>

    <div tuiGroup class="group" [collapsed]="true">
      <label tuiBlock>
        <input
          tuiRadio
          type="radio"
          formControlName="type"
          value="income"
        />
        Доход
      </label>

      <label tuiBlock>
        <input
          tuiRadio
          type="radio"
          formControlName="type"
          value="expense"
        />
        Расход
      </label>
    </div>

    @if (typeControl.touched) {
      <tui-error [formControl]="typeControl" [error]="[] | tuiFieldError | async" />
    }
  </div>

  <div class="field">
    <label class="label" for="category">Категория транзакции</label>

    <tui-textfield tuiChevron>
      <input
        id="category"
        tuiSelect
        formControlName="category"
        placeholder="Выберите категорию"
      />

      <tui-data-list-wrapper
        *tuiTextfieldDropdown
        new
        [items]="categories"
      />
    </tui-textfield>


    @if (categoryControl.touched) {
      <tui-error [formControl]="categoryControl" [error]="[] | tuiFieldError | async" />
    }
  </div>

  <div class="field">
    <label class="label" for="amount">Сумма транзакции</label>

    <tui-textfield>
      <input
        id="amount"
        tuiInputNumber
        formControlName="amount"
        placeholder="Введите сумму"
        [postfix]="' ' + ('RUB' | tuiCurrency)"
      />
    </tui-textfield>

    @if (amountControl.value !== null && !amountControl.hasError('required')) {
      <div class="hint">
        Сумма: {{ amountControl.value | currency:'RUB':'symbol':'1.2-2':'ru-RU' }}
      </div>
    }

    @if (amountControl.touched) {
      <tui-error [formControl]="amountControl" [error]="[] | tuiFieldError | async" />
    }
  </div>

  <div class="field">
    <label class="label" for="transactionDate">Дата транзакции</label>

    <tui-textfield>
      <input
        id="transactionDate"
        tuiInputDate
        formControlName="transactionDate"
        [max]="maxDate"
        placeholder="Выберите дату"
      />
      <tui-calendar *tuiTextfieldDropdown />
    </tui-textfield>

    @if (transactionDateControl.touched) {
      <tui-error [formControl]="transactionDateControl" [error]="[] | tuiFieldError | async" />
    }
  </div>

  <div class="field">
    <label class="checkbox-row">
      <input
        tuiCheckbox
        type="checkbox"
        formControlName="addComment"
      />
      Добавить комментарий
    </label>
  </div>

    <div class="field" [class.field_hidden]="!addCommentValue">
      <tui-textfield>
        <label tuiLabel for="comment">Комментарий к транзакции</label>

        <textarea
          id="comment"
          tuiTextarea
          formControlName="comment"
          [appCommentValidators]="addCommentValue"
          [limit]="100"
          placeholder="Напишите комментарий"
        ></textarea>
      </tui-textfield>

      @if (addCommentValue && commentControl.touched) {
        <tui-error [formControl]="commentControl" [error]="[] | tuiFieldError | async" />
      }
    </div>

  <div class="actions">
    <button tuiButton type="submit" appearance="primary">
      {{ isEditMode() ? 'Сохранить изменения' : 'Сохранить' }}
    </button>

    @if (isEditMode()) {
      <button
        tuiButton
        type="button"
        appearance="secondary"
        (click)="cancelEdit()"
      >
        Отмена
      </button>
    }
  </div>
</form>
