/* You can add global styles to this file, and also import other style files */
:root {
  --tui-background-accent-1: #6b9fda;
  --tui-background-accent-2: #6b9fda;

  --tui-background-accent-1-hover: #3c85e1;
  --tui-background-accent-2-hover: #3c85e1;

  /* текст на кнопках */
  --tui-text-on-accent-1: #ffffff;

  /* фон приложения */
  --tui-base-01: #ffffff;

  /* бордеры */
  --tui-base-03: #e9eff6;

  /* ошибки */
  --tui-status-negative: #ef4444;
}
